@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}

@font-face {
    font-family: myfont;
    src: url(coolvetica.otf);
}

h2{
    font-family: myfont;
}

mark{
    background-color: #00161a;
    color:#e9f9fc;
}

.react-tabs__tab:hover {
    outline: none;
    background: #acdfe8;
    border-radius: 5px 5px 0 0;
  }

.react-tabs__tab--selected {
    background: #00414d;
    border-color: #aaa;
    color: white;
  }
